.booking-form-container {
    display: grid;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    gap: 25px;
    background-color: #495e57;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  }
  
  .booking-form-container label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #f4ce14;
  }
  
  .booking-form-container input,
  .booking-form-container select,
  .booking-form-container button {
    width: 100%; /* Asegura que todos los elementos tengan el mismo ancho */
    padding: 12px;
    border: 2px solid #f4ce14;
    border-radius: 8px;
    background-color: #fff;
    font-size: 1rem;
    color: #333;
    outline: none;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease, border 0.3s ease;
  }
  
  .booking-form-container input[type="date"] {
    appearance: none; /* Remueve estilos predeterminados */
    -webkit-appearance: none; /* Para Safari */
    padding: 12px; /* Asegura el mismo padding */
  }
  
  .booking-form-container input:focus,
  .booking-form-container select:focus {
    border-color: #ffe65b;
    box-shadow: 0 0 8px #ffe65b;
  }
  
  .booking-form-container button {
    background-color: #f4ce14;
    color: #495e57;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 14px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .booking-form-container button:hover {
    background-color: #ffe65b;
    transform: scale(1.05);
  }
  
  .booking-form-container button:active {
    transform: scale(0.98);
  }
  
  .booking-form-container input::placeholder {
    font-size: 0.9rem;
    color: #aaa;
  }
  
  /* Estilos responsivos para pantallas móviles */
  @media (max-width: 768px) {
    .booking-form-container {
      max-width: 100%; /* Reduce el tamaño del formulario */
      margin-top: 10%;
      padding: 20px;
      gap: 20px;
    }
  
    .booking-form-container label {
      font-size: 1rem; /* Ajusta el tamaño de las etiquetas */
    }
  
    .booking-form-container input,
    .booking-form-container select,
    .booking-form-container button {
      font-size: 0.9rem; /* Reduce el tamaño de fuente */
      padding: 10px; /* Ajusta el padding */
    }
  
    .booking-form-container button {
      font-size: 1rem; /* Mantén el botón legible */
      padding: 15px;
    }
  }
  