.booking-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Usa el alto mínimo de la ventana */
  padding: 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.booking-page h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #495e57;
  margin: 0; /* Ajusta márgenes */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .booking-page h1 {
    font-size: 1.8rem; /* Reduce el texto */
  }

  .booking-page {
    padding: 15px;
  }
}
