/* Footer */
.footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    text-align: center;
  }
  
  .footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 20px;
  }
  
  .footer li {
    margin: 0 20px;
  }
  
  .footer a {
    color: white;
    text-decoration: none;
    font-size: 16pt;
    font-weight: medium;
    transition: color 0.3s ease;
  }
  
  .footer a:hover {
    color: #f4ce14;
  }
  