/* Contenedor principal del header */
.header {
  display: flex;
  justify-content: space-between;  /* Alineación de logo y menú */
  align-items: center;
  padding: 20px 400px;
  background-color: #fff;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
  position: relative; /* Importante para posicionar el icono de hamburguesa */
}

/* Logo */
.header-logo img {
  max-width: 200px;
  height: auto;
}

/* Navegación */
.nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #5baf71;
}

/* Icono de hamburguesa */
.hamburger-icon {
  display: none;  /* Ocultar icono por defecto en pantallas grandes */
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;  /* Posicionar en la parte superior derecha */
  top: 20px;
  right: 20px;
}

.hamburger-icon img {
  width: 30px;
  height: auto;
}

/* Responsividad */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
  }

  .nav {
    width: 100%;
    display: none;  /* Ocultar menú por defecto */
    justify-content: center;
  }

  .nav.active {
    display: block;  /* Mostrar el menú cuando el estado `active` esté activo */
    background-color: #fff;
    padding: 20px 0;
    border-top: 1px solid #ddd;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .nav-list li {
    margin-bottom: 15px;
  }

  .nav-list li:last-child {
    margin-bottom: 0;
  }

  /* Mostrar el icono de hamburguesa en pantallas pequeñas */
  .hamburger-icon {
    display: block;  /* Mostrar el icono en pantallas pequeñas */
  }
}
